In [1]:
import pandas as pd

In [10]:
dict_colums = {"PS6500": "Salario"}

In [7]:
df_enero = pd.read_csv("../Data/Geih2019/Enero.csv/Enero.csv/Cabecera - Ocupados.csv", delimiter=";")

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (96,165) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
df_enero

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,CLASE,P388,P6440,P6450,P6460,...,OCI,MES,P6430,RAMA4D,RAMA4DP8,RAMA2DP8,INGLABO,DPTO,fex_c_2011,AREA
0,4804535,1,2,1,60,1,5,1,1,,...,1,1,1,4521,,,781242,5,"930,626304647455",5
1,4804535,1,3,1,60,1,5,1,2,2,...,1,1,1,9191,,,1081242,5,"930,626304647455",5
2,4804536,1,1,1,60,1,5,1,1,,...,1,1,1,1810,,,600000,5,"1097,21111588101",5
3,4804537,1,1,1,60,1,5,1,1,,...,1,1,1,9242,,,900000,5,"827,29749635946",5
4,4804537,1,3,1,60,1,5,1,2,1,...,1,1,1,7499,,,781242,5,"827,29749635946",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24864,4829869,1,1,1,60,1,13,1,1,,...,1,1,3,9500,,,901242,13,"184,153921608345",13
24865,4829870,1,1,1,60,1,13,2,,,...,1,1,4,5233,,,2000000,13,"183,681622983988",13
24866,4829872,1,1,1,60,1,13,1,1,,...,1,1,3,9500,,,781242,13,"183,145539531399",13
24867,4829873,1,1,1,60,1,13,1,1,,...,1,1,1,5231,,,,13,"183,681622983988",13
24868,4829876,1,1,1,60,1,13,1,2,1,...,1,1,1,8044,,,1000000,13,"310,563027900309",13